@font-face {
  font-display: auto;
  font-family: 'Mazzard';
  src: local('Mazzard H Regular'), local('Mazzard-H-Regular'),
    url('../fonts/MazzardH-Regular.woff2') format('woff2'),
    url('../fonts/MazzardH-Regular.woff') format('woff'),
    url('../fonts/MazzardH-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: auto;
  font-family: 'Mazzard';
  src: local('Mazzard H Medium'), local('Mazzard-H-Medium'),
    url('../fonts/MazzardH-Medium.woff2') format('woff2'),
    url('../fonts/MazzardH-Medium.woff') format('woff'),
    url('../fonts/MazzardH-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: auto;
  font-family: 'Mazzard';
  src: local('Mazzard M SemiBold'), local('Mazzard-M-SemiBold'),
    url('../fonts/MazzardM-SemiBold.woff2') format('woff2'),
    url('../fonts/MazzardM-SemiBold.woff') format('woff'),
    url('../fonts/MazzardM-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: auto;
  font-family: 'Mazzard';
  src: local('Mazzard H Bold'), local('Mazzard-H-Bold'),
    url('../fonts/MazzardH-Bold.woff2') format('woff2'),
    url('../fonts/MazzardH-Bold.woff') format('woff'),
    url('../fonts/MazzardH-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
